<head>
    <meta charset="utf-8">
    <title>W3C VC Test Suites Coverage Metrics</title>
    <link rel="icon" href="https://www.w3.org/assets/website-2021/images/w3c-opengraph-image.png" type="image/x-icon">
    <link href="https://preview.tabler.io/dist/css/tabler.min.css" rel="stylesheet">
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
    {% include('components/charts-css.jinja') %}
</head>
<body>
    <div class="page">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Charts
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                </div>
            </div>
        </div>
    </div>
    <script src="https://preview.tabler.io/dist/libs/apexcharts/dist/apexcharts.min.js" defer=""></script>
    <script src="https://preview.tabler.io/dist/js/tabler.min.js" defer=""></script>
</body>