# Test Suite Coverage Metrics
## {{ data['suite'] }}

### Summary of supported features and implementations

*This highlights features that have less than 2 passing implementations.*

| Risk Score | Failed % | Failed Count | Total Count |
| ------- | ------- | ------- | ------- | ------- |
| {{ data['risk']['atRiskScore'] }} | {{ data['risk']['atRiskPercentage'] }} | {{ data['risk']['atRiskCount'] }} |  {{ data['risk']['totalCount'] }} |

#### Details
*Features with a state of pending are not considered at risk.*

##### At Risk Features
{% for feature in data['risk']['atRiskFeatures'] %}
- {{feature}}{% endfor %}

##### Pending Features
{% for feature in data['risk']['pendingFeatures'] %}
- {{feature}}{% endfor %}

### Summary of normative statements coverage

| Count (Suite) | Count (Spec) | Matches | Unmatched (Suite) | Unmatched (Spec) |
| ------- | ------- | ------- | ------- | ------- |
| {{data['suite_statements']['count']}} | {{data['spec_statements']['count']}} | {{data['matches']['count']}} |  {{data['unmatched_suite_statements']['count']}} |  {{data['unmatched_spec_statements']['count']}} |

### Details
#### Test Suite Statements
```json
{{data['suite_statements']['list']}}
```
#### Specifications Statements
```json
{{data['spec_statements']['list']}}
```
#### Matched Statements
```json
{{data['matches']['list']}}
```
#### Unmatched Test Suite Statements
```json
{{data['unmatched_suite_statements']['list']}}
```
#### Unmatched Specifications Statements
```json
{{data['unmatched_spec_statements']['list']}}
```
