<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

{% for suite in data %}
<canvas id="{{ suite['suite'] }}" style="width:100%;max-width:600px"></canvas>
<script>
var xValues = [
    "Specification", 
    "Test-Suite", 
    "Skipped", 
    "Matched", 
    "Unmatched"
];
var yValues = [
    {{ suite['spec_statements']['count'] }}, 
    {{suite['suite_statements']['count']}}, 
    {{suite['skipped_statements']['count']}}, 
    {{suite['matches']['count']}}, 
    {{suite['unmatched_spec_statements']['count']}}
];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("{{ suite['suite'] }}", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "{{ suite['suite'] }}"
    }
  }
});
</script>
{% endfor %}

</body>
</html>